@font-face {
    font-family: 'Kombat';
    font-style: normal;
    font-weight: normal;
    src: local('Kombat'), url('../fonts/Kombat11-Regular.woff2');
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}